<p style="color: green"><%= notice %></p>

<div id="transactions" class="d-flex flex-column col-md-6 transactionz justify-content-between">
  <% @transactions.each do |transaction| %>
    <%= render transaction %>
  <% end %>
</div>

